<form class="box">
  <div id="message">
      <div class="container">
        <h3>YOUR INFO</h3>
      </div>
      <a routerLink="/dashboard" class="button"><b>Go back</b></a>
      <br>
      <div class="info">
        <p>
        <br>
        <b>Roll no.</b> &nbsp;  &nbsp; : {{rollno}}
        <br>
        <br>
        <b>Name</b> &nbsp; &nbsp; &nbsp; : {{name}}
        <br>
        <br>
        <b>Email ID</b> &nbsp; : {{email}}
        <br>
        <br>
        <b>Mobile</b> &nbsp;  &nbsp;&nbsp; : {{mobile}}
        <br>
        <br>
        <b>Course</b> &nbsp;  &nbsp; : {{course}}
        <br>
        <br>
        </p>
      </div>
  </div>
</form>
