<div class = "bg">
  <form class ="box" (submit)="loginUser($event)">
    <a routerLink="/" class="button"><b>Back</b></a>
    <div class="container">
      <h1>Login</h1>
    <div>
      <input type="email" autocomplete="off" placeholder="Email" id="username" required>
    </div>
    <div>
      <input type="password" autocomplete="off" placeholder="Password" id="password" required>
    </div>
    <div>
      <button type="submit" id="submit"><b>Login</b></button>
    </div>
  </div>
  </form>
</div>
